[workspace]
resolver = "2"
members = [
    "src/cli",
    "src/codegen",
    "src/core",
    "src/macros",
    "src/toasty",

    # Driver implementations
    "src/db/ddb",
    "src/db/sqlite",

    # General utilities.
    "src/std-util",

    # Examples
    "examples/composite-key",
    "examples/hello-toasty",
    "examples/cratehub",
    "examples/self-reference",
    "examples/user-has-one-profile",

    # Tests
    "tests/client",
]


[workspace.dependencies]
anyhow = "1.0.92"
async-recursion = "1.1.1"
async-stream = "0.3.6"
async-trait = "0.1.83"
by_address = "1.2.1"
clap = { version = "4.5.20", features = ["derive"] }
heck = "0.5.0"
indexmap = "2.6.0"
pluralizer = "0.4.0"
pretty_assertions = "1.4.1"
proc-macro2 = "1.0.37"
quote = "1.0.18"
rand = "0.8.5"
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
std-util = { path = "src/std-util" }
syn = "2.0.86"
tokio-stream = { version = "0.1.16", default-features = false }
toasty-codegen = { path = "src/codegen" }
toasty-core = { path = "src/core" }
toasty-driver = { path = "src/driver" }
uuid = { version = "1.11.0", features = ["v4", "fast-rng"] }
