[package]
name = "toasty-macros"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true
toasty-core.workspace = true
toasty-codegen2.workspace = true
