[package]
name = "toasty"
version = "0.1.0"
edition = "2021"

[features]
default = []
dynamodb = ["dep:toasty-driver-dynamodb"]
mysql = ["dep:toasty-driver-mysql"]
postgresql = ["dep:toasty-driver-postgresql"]
sqlite = ["dep:toasty-driver-sqlite"]
serde = ["dep:serde"]


[dependencies]
toasty-macros.workspace = true
toasty-core.workspace = true

# Built-in database drivers
toasty-driver-dynamodb = { workspace = true, optional = true }
toasty-driver-mysql = { workspace = true, optional = true }
toasty-driver-postgresql = { workspace = true, optional = true }
toasty-driver-sqlite = { workspace = true, optional = true }
serde = { version = "1", optional = true }

anyhow.workspace = true
async-stream.workspace = true
tokio-stream.workspace = true
uuid.workspace = true
indexmap.workspace = true
by_address.workspace = true
url.workspace = true
